body, input, .form-control, .btn{
     font-size: 12px;
 }

 .form-control{
     height: 28px;
 }

 #poweredBy a{
      margin-top: 15px;font-size:10px;color:#1A87C7;
 }
#poweredBy{
     text-align:right;
 }

 #sendMail{
     width:100%;
 }

 #header{
     text-align:justify;
 }

 #contentInner{
     margin:10px;
 }
 #widgetField_attachment{
 	display:inline-block;
 }
 
 #clearfile{
	 cursor:pointer; 
	 float:right; 
	 font-weight:bold;
 }

 #captchaResult{
     display:inline-block;width:50px;
 }