body {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  border: 1px solid white;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 11px;
  margin-bottom: 19px;
  font-size: 35px;
  line-height: 44px;
  font-weight: 500;
}
h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}
h3 {
  margin-bottom: 15px;
  float: none;
  background-color: transparent;
  color: black;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  text-align: left;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-top: 0px;
  margin-bottom: 16px;
  padding-top: 0px;
  border: 0px solid black;
  text-align: left;
}
.button {
  display: inline-block;
  margin-right: 14px;
  padding: 13px 23px;
  float: none;
  border-radius: 3px;
  background-color: #1a87c7;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px;
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  -o-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  font-family:'Roboto Slab', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #489fd9;
}
.button.hollow {
  border: 1px solid white;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px, white 0px 0px 0px 1px inset;
  color: white;
  text-shadow: none;
}
.button.hollow:hover {
  background-color: #1a87c7;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px 0px, #489fd9 0px 0px 0px 2px inset;
  color: white;
  text-shadow: none;
}
.button.in-pricing {
  display: block;
  margin-top: 19px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
.button.get-started-button {
  margin-top: 11px;
  margin-right: 10px;
  margin-left: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #1fc22f;
  line-height: 11px;
}
.button.get-started-button:hover {
  background-color: black;
}
.logo-text {
  margin-top: 24px;
  font-family:'Roboto Slab', sans-serif;
  color: #1c1c1c;
  font-size: 27px;
  font-weight: 500;
}
.logo-text.footer {
  margin-top: 0px;
  margin-bottom: 19px;
  color: #e6eaed;
}
.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 55px;
  margin-bottom: 0px;
  border-bottom: 1px solid white;
  background-color: #1a87c7;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 0px 0px;
}
.nav-link {
  padding: 20px;
  float: right;
  box-shadow: transparent 0px 3px 0px 0px inset;
  -webkit-transition: box-shadow 500ms ease, color 300ms ease;
  -o-transition: box-shadow 500ms ease, color 300ms ease;
  transition: box-shadow 500ms ease, color 300ms ease;
  color: white;
}
.nav-link:hover {
  box-shadow: rgba(181, 181, 181, 0.49) 0px 3px 0px 0px inset;
}
.nav-link.w--current {
  box-shadow: #4dbd90 0px 3px 0px 0px inset;
  color: #4dbd90;
}
.section {
  margin-top: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.section.blue {
  background-color: #e3f3fc;
}
.section.main {
  height: 505px;
  margin-top: 54px;
  margin-right: -1px;
  margin-left: -1px;
  padding-bottom: 0px;
  background-color: transparent;
  background-image: url("../images/dropifi_herographic.png");
  /*background-image: url('../images/male_store_owner1_blurred2.jpg?1404482716360');*/
  background-size: cover; 
  color: white;
  text-shadow: rgba(0, 0, 0, 0.21) 0px 1px 0px;
}
.section.grey {
  background-color: #f0f0f0;
}
.section.image {
  background-image: url('../images/town.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: white;
}
.section.footer {
  margin-top: 0px;
  margin-right: -1px;
  margin-left: -1px;
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #2b2c2e;
  color: #e4e8eb;
}
.section.footer.copyright {
  margin-top: 0px;
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #1c1d1f;
  color: #939596;
  font-size: 14px;
}
.section.purple {
  margin-top: 54px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #dde7ed;
}
.section.clients {
  height: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #a1bfd4;
}
.section.press {
  margin-top: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #a1bfd4;
}
.section.about-us-page-section {
  margin-top: 54px;
}
.section.blog-main-section {
  margin-top: 54px;
}
.slider {
  display: none;
  height: 360px;
  background-color: #303030;
}
.slide {
  padding-top: 64px;
  padding-bottom: 64px;
}
.slide._1 {
  background-color: #00ad6e;
}
.slide._2 {
  background-color: #00bdd6;
}
.slide._3 {
  background-color: #ccbe00;
}
.main-subtitle {
  margin-bottom: 26px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  text-align: left;
}
.footer-slogan {
  margin-bottom: 11px;
  color: #939596;
}
.social-icon {
  margin-right: 11px;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-icon:hover {
  opacity: 1;
}
.footer-title {
  margin-top: 0px;
  font-family:'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.page-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms ease, border 300ms ease;
  -o-transition: color 300ms ease, border 300ms ease;
  transition: color 300ms ease, border 300ms ease;
  color: #489fd9;
  text-decoration: none;
}
.page-link:hover {
  border-bottom-color: #489fd9;
}
.page-link.in-footer {
  display: block;
  color: #939596;
}
.page-link.in-footer:hover {
  border-bottom-color: transparent;
  color: #d2d7d9;
}
.page-link.white {
  border-bottom-color: rgba(255, 255, 255, 0.49);
  color: white;
}
.page-link.white:hover {
  border-bottom-color: white;
}
.newsletter-field {
  width: 60%;
  height: 40px;
  float: left;
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #e8e8e8;
}
.newsletter-field:focus {
  border-width: 1px;
  border-color: #09f;
  box-shadow: #489fd9 0px 0px 6px 0px;
}
.newsletter-button {
  width: 40%;
  height: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #5f6166;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #d5d8db;
}
.newsletter-button:hover {
  background-color: #489fd9;
  color: white;
}
.newsletter-form {
  width: 70%;
}
.brand-link {
  text-decoration: none;
}
.success-message {
  background-color: #5f6166;
}
.main-heading {
  margin-bottom: 20px;
  float: none;
  color: white;
  font-size: 38px;
  line-height: 44px;
  text-align: left;
}
.section-subtitle {
  margin-top: 5px;
  margin-bottom: 24px;
  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}
.bold-text {
  font-weight: 400;
}
.plan-wrapper {
  min-height: 300px;
  margin-right: 0px;
  padding: 17px;
  border-radius: 3px;
  background-color: white;
  color: #2b2b2b;
}
.plan-wrapper:focus {
  background-color: white;
}
.plan-wrapper.popular-plan {
  margin-right: -11px;
  background-color: white;
}
.plan-wrapper.popular {
  box-shadow: #1a1616 0px 0px 24px 0px;
}
.price-point {
  margin-right: -16px;
  margin-bottom: 8px;
  margin-left: -16px;
  padding-right: 0px;
  border-bottom: 1px solid #f2e9e9;
  font-size: 14px;
  text-align: center;
}
.price-point.title-point {
  border-bottom-style: none;
}
.price-accent {
  color: #489fd9;
  font-size: 27px;
  letter-spacing: 0px;
}
.addl-feature {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.addl-feature.inactive {
  color: #c7c5c5;
  text-decoration: line-through;
}
.divider {
  width: 50%;
  height: 1px;
  margin-top: 13px;
  margin-bottom: 12px;
  margin-left: 45px;
  background-color: #dbdbdb;
  text-align: left;
}
.divider.pricing-side-bar-divider {
  margin-top: 18px;
  margin-left: 0px;
}
.additional-contact {
  margin-top: 0px;
  text-align: center;
}
.feature {
  width: auto;
  margin-top: 20px;
  background-color: transparent;
  text-align: left;
}
.feature.centered {
  text-align: center;
}
.feature-row {
  margin-top: 30px;
  margin-bottom: 14px;
  padding-top: 0px;
  border-bottom-width: 3px;
  border-bottom-color: #080101;
}
.testimonial-slider {
  height: auto;
  margin-top: 45px;
  background-color: transparent;
}
.testimony-slide {
  padding-top: 0px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}
.testimony-text {
  margin-top: 1px;
  margin-bottom: 21px;
  font-family:'Roboto Slab', sans-serif;
  font-size: 18px;
  line-height: 31px;
  font-weight: 300;
  text-align: center;
}
.slide-nav {
  display: none;
  font-size: 10px;
}
.person {
  width: 70px;
  margin-bottom: 13px;
  border-radius: 100%;
}
.name {
  font-weight: 500;
}
.slider-arrow {
  width: 50px;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 32px;
}
.slider-arrow:hover {
  color: black;
}
.feature-icon {
  margin-top: 0px;
  margin-bottom: 12px;
  float: left;
}
.main-feature-group {
  margin-top: 30px;
}
.center-contents {
  text-align: center;
}
.small-features-row {
  margin-top: 71px;
  margin-bottom: 30px;
  padding-left: 4px;
}
.client-logo {
  width: 16.0%;
  margin-right: 30px;
  padding-top: 0px;
}
.press-logo {
  width: 16%;
  margin-right: 1%;
  margin-left: 2%;
  opacity: 0.94;
}
.small-text {
  color: white;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.features-page-tabs-menu {
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}
.features-page-bottom-colums {
  padding-left: 10px;
  background-color: #e8e8e8;
}
.social-reviews-column {
  margin-top: 20px;
}
.about-us-container {
  margin-top: 0px;
}
.blog-post {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}
.login-page-container {
  margin-top: 139px;
  padding-top: 31px;
}
.login-page-column {
background-color: white;
  margin-top: -63px;
  margin-bottom: 0px;
  padding: 31px 22px 0px 23px;
  border: 1px solid white;
  border-radius: 11px;
  box-shadow: #948888 0px 0px 6px 0px, white 0px 0px 6px 0px;
}
.login-page-logo {
  padding-left: 55px;
}
.login-submit-button {
  border-radius: 4px;
  background-color: #489fd9;
}
.login-page-h2 {
  margin-top: 10px;
  margin-bottom: -89px;
}
.sign-up-page-terms-of-agreement {
  margin-bottom: 9px;
  font-size: 12px;
}
.signup-page-get-started {
  font-weight: 500;
}
.sign-up-page-container {
  margin-top: 0px;
}
.already-have-account-or-not {
  margin-top: 9px;
  font-size: 13px;
  text-align: center;
}
.blog-column-2 {
  margin-top: 43px;
  border-left: 1px solid rgba(196, 183, 183, 0.65);
}
.blog-post-content {
  text-align: left;
}
.customer-total-h3 {
  margin-top: 54px;
  color: black;
  font-weight: 500;
  text-align: center;
}
.features-page-section {
  margin-top: 54px;
}
.homepage-value-prop {
  margin-top: 100px;
}
.news-room-intro {
  text-align: center;
}
.homepage-tabs-menu {
  margin-top: 16px;
  font-size: 20px;
  text-align: center;
}
.homepage-tabs:hover {
  background-color: #bcd3f3;
}
.our-awesomeness {
  margin-top: 0px;
  padding-top: 5px;
  background-color: #e8e8e8;
}
.awesomness-column2 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.awesomness-h3 {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}
.awesomeness-reasons {
  margin-bottom: 30px;
}
.awesomeness-text {
  font-size: 14px;
}
.awesomeness-h5 {
  color: black;
  font-style: normal;
  font-weight: 700;
}
.awesomeness-icons {
  margin-top: 8px;
  margin-right: 20px;
  float: right;
}
.awards-container {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-left: 25px;
  background-color: #e8e8e8;
}
.faq-container.social-faq {
  margin-bottom: 15px;
}
.pricing-table-row {
  margin-top: 19px;
  margin-bottom: 20px;
}
.company-logo {
  margin-top: -3px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-menu-text {
  color: white;
}
.navigation-link {
  color: white;
}
.navigation-link:hover {
  padding-top: 18px;
  border-top-style: solid;
  border-top-width: 3px;
  color: #bcd3f3;
}
.homepage-highlights {
  margin-top: -15px;
}
.terms-container {
  margin-top: 40px;
}
.signup-page-logo-row {
  margin-top: 40px;
}
.price-item {
  margin-right: -17px;
  margin-bottom: 8px;
  border-bottom: 1px solid #f2e9e9;
  font-size: 14px;
}
.price-item.title-point {
  border-bottom-style: none;
}
.popular-plan {
  padding: 17px;
  border-radius: 3px;
  background-color: white;
  color: #2b2b2b;
}
.price-h3 {
  text-align: center;
}
.price-support-text {
  font-size: 12px;
}
.free-plan {
  padding-right: 0px;
  font-weight: 400;
}
.starter-plan {
  padding-right: 0px;
  padding-left: 10px;
}
.awesomeness-image {
  margin-top: 0px;
}
.sentiment-image {
  margin-top: 30px;
  margin-right: 0px;
  padding-right: 0px;
}
.features-page-tabs:hover {
  background-color: #bcd3f3;
}
.features-page-tabs.w--current:hover {
  background-color: #bcd3f3;
}
.price2-h3 {
  margin-top: -17px;
  margin-right: -17px;
  margin-left: -17px;
  padding-top: 13px;
  padding-bottom: 5px;
  background-color: #ccd;
  color: white;
  text-align: center;
}
.price3-h3 {
  margin-top: -17px;
  margin-right: -17px;
  margin-left: -17px;
  padding-top: 13px;
  padding-bottom: 5px;
  background-color: #f5b917;
  color: white;
  text-align: center;
}
.price4-h3 {
  margin-top: -18px;
  margin-right: -17px;
  margin-left: -17px;
  padding-top: 13px;
  padding-bottom: 5px;
  padding-left: 80px;
  background-color: #93ab25;
  color: white;
  text-align: center;
}
.free-plan-span {
  color: #1a87c7;
  font-weight: 500;
}
.pricing-intro-span {
  font-weight: 400;
}
.plugins-row {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.integration-icons {
  margin-top: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.plugins-icons-link {
  margin-right: 20px;
  padding: 4px;
}
.plugins-icons-link:hover {
  box-shadow: black 0px 0px 17px -3px;
}
.integrations-page-container {
  margin-top: 0px;
  padding-top: 15px;
}
.integration-page-section {
  margin-top: 54px;
}
.integrations-row {
  margin-top: 30px;
  margin-bottom: 40px;
}
.awards-h3 {
  margin-bottom: 18px;
}
.social-reviews-value-prop {
  margin-top: 55px;
}
.social-revies-button-container {
  padding-left: 35%;
}
.social-review-benefit-icon {
  margin-left: 72px;
  text-align: left;
}
.social-reviews-benefit-h2 {
  font-size: 20px;
  font-weight: 400;
}
.social-review-benefit-row {
  margin-top: 25px;
}
.social-reviews-header-section {
  height: 305px;
  margin-top: 54px;
  margin-right: -1px;
  margin-left: -1px;
  background-image: url('../images/IMG_1101_2.jpg');
  background-size: cover;
}
.social-reviews-h1 {
  color: white;
  text-align: center;
}
.social-reviews-subtitle {
  color: white;
  text-align: center;
}
.social-reviews-works-row {
  margin-bottom: 37px;
}
.social-reviews-sub-subtitle {
  padding: 6px;
  border-radius: 0px;
  background-color: transparent;
  opacity: 1;
  color: white;
  text-align: center;
}
.social-reviews-benefit-paragraph {
  text-align: center;
}
.social-review-stat {
  border-radius: 10px;
  background-color: #5b4f4f;
  opacity: 0.72;
}
.automation-image {
  margin-top: 26px;
}
.popular-plan-tag {
  margin-top: -10px;
  margin-bottom: 0px;
  padding: 3px 6px;
  float: right;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #ffd900;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}
.pricing-table-tabs {
  margin-bottom: 7px;
  text-align: center;
}
.pricing-tab-button {
  background-color: white;
}
.pricing-tab-button:hover {
  background-color: #bcd3f3;
}
.social-faq-h2 {
  margin-top: 0px;
}
.social-faq-row {
  margin-top: -30px;
}
.more-reviews-imgage {
  margin-left: 40px;
}
.social-review-screenshot {
  border: 1px solid #93d8e6;
}
@media (max-width: 991px) {
  .button.in-pricing {
    font-size: 14px;
    line-height: 18px;
  }
  .nav-link {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    float: left;
    color: white;
  }
  .nav-link:hover {
    box-shadow: transparent 0px 3px 0px 0px inset;
  }
  .nav-link.w--current {
    margin-right: 15px;
    margin-left: 8px;
    box-shadow: transparent 0px 1px 0px 0px inset;
  }
  .nav-link.menu {
    padding: 22px 17px;
    color: black;
    font-size: 30px;
  }
  .nav-link.menu.w--open {
    background-color: black;
    color: white;
  }
  .nav-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: black;
  }
  .main-feature-group {
    margin-top: 0px;
  }
  .main-image {
    margin-top: 49px;
  }
  .tablet-menu {
    float: right;
  }
  .navigation-link {
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .nav-menu-mobile {
    background-color: #1a87c7;
  }
}
@media (max-width: 767px) {
  h2 {
    margin-top: 50px;
  }
  h3 {
    margin-bottom: 8px;
  }
  .logo-text {
    margin-top: 15px;
  }
  .nav-link.menu {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .section {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }
  .section.main {
    margin-top: 51px;
  }
  .nav-menu {
    padding-right: 12px;
    padding-left: 12px;
  }
  .footer-title {
    margin-top: 35px;
  }
  .newsletter-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .section-subtitle {
    margin-bottom: 44px;
  }
  .plan-wrapper {
    margin-right: 5%;
    margin-bottom: 34px;
    margin-left: 5%;
  }
  .divider {
    width: 100%;
  }
  .feature {
    margin-bottom: 32px;
    text-align: center;
  }
  .feature-icon {
    margin-bottom: 4px;
  }
  .main-feature-group {
    margin-top: 0px;
    margin-bottom: 34px;
  }
}
@media (max-width: 479px) {
  .client-logo {
    width: 33.33%;
  }
  .press-logo {
    width: 28%;
  }
}

