.addon_details {
    background: none repeat scroll 0 0 #F3F3F3;
    float: right;
    width: 43%;
    margin-right:10px
}

.addon_media .addon_inner {
    padding: 10px;
}

.addon_details .addon_inner {
    padding: 20px;
}

.addon_media {
   float: left;
   width: 55%;
}
.fancy-hidden{
 display:none;
}

.fancy-size{
width:100%;
margin-bottom:10px;
}
 
.a-button {
    background-color: #1C7FBC;
    border: 1px solid #1E7BB8;
    border-radius: 5px;
    box-shadow: 0 0 1px #FFFFFF;
    color: #FFFFFF !important;
    cursor: pointer;
    font-family: "Helvetica Neue","Helvetica","Arial","Liberation Sans","FreeSans",sans-serif;
    font-size: 13px;
    font-weight: bold;
    overflow: visible;
    padding: 5px 10px 6px;
}

.addon_price span{
	float:right;
	font-size:16px;
	font-weight:bold;
}

.addon_feature{
	margin:10px 0px;
}

.addon_feature h3{

}

.addon_feature p{ 
 	color: #9E9E9E;
    font-size: 13px;
}

.addon_top p{
 color: #9E9E9E;
 margin:10px 0px;
}

.addon_divider{
margin-top:20px;
}