a:HOVER{text-decoration: none;}
#right_work_area{
width:90%;
margin:0 auto;
}

.data_view{
width:100%;
margin-bottom:20px;
padding:5px 5px;
overflow:auto;
cursor: move;
}

.data_exceeded_limit{	
}

.data_view p{
padding:3px 0px;
}

.admin_element{
	border-bottom:1px solid #F9F9F9;
	font-size:1.3em;
	font-weight:500;
}

.admin_element_option{
	font-size:0.9em;
}

.admin_element_option a{
	color:#ccc;
	padding-left:10px;
	border:1px solid #ccc;
	padding:1px 5px;
	border-radius: 100px 100px 100px 100px;
}

.admin_element_option a:hover{
	color:#666;
	border:1px solid #666;
}

.admin_element span{
	font-variant:small-caps;
padding-left:5px;
font-size:0.8em;
}

.get_upgrade_small{
	color:#ffffff; 
}

span.admin_option{
	color:#3589A7;
	font-variant:small-caps;
}

span.admin_value{
	color:#666;
	padding-right:10px;
	padding-left:3px;
}

span.element_option{
	font-variant:small-caps;
	font-weight:bold;
}

span.element_value{
	padding-right:10px;
	padding-left:3px;
}


.action_options{
float:right;
padding-right:5px;
}

			 
.data_activated{
	width:9.5%;
	float:left;
	border-right:1px solid #F9F9F9;
}

.data_activated p{
padding-top:30%;
font-size:0.8em;
color:#fff;
}

.data_view_content{
	width:89%;
	float:right;
	padding-left:5px;
	background:inherit;
}

.ticked{
color:#BDBDBD;
}

/* Switch Styles
---------------------------------------- */
.js .checkbox{
    display:none;
}
.toggle{
    background:url('/../../public/images/yesno_old.png') bottom left;
    display:inline-block;
    width:50px;
    height:21px;
}
.toggle.checked{
    background-position:top left;
}

.activated_option{
float:right;
padding-right:10px;
}

#widget_main{
width:96%;
height:auto;
margin:0 auto;
overflow:hidden;
}

#widget_left{
float:right;
width:36%;
}

#widget_right{
float:left;
width:60%;
} 

#widget_center{
margin:20px;
margin-left:15px;
width:96%;
}

#w_left{
width:100%;
background-color:#F8FAFC;
padding:5px 0px;
padding-left:5px;
height:100%;
}
/*#F2F5F9;*/
#w_right{ 
width:100%;
background-color:#F8FAFC;
padding:5px 0px;
height:;
}

#w_center{
width: 100%;
background-color:#F8FAFC;
padding:5px 0px;
 
}

.w_input{
margin-bottom:12px;
margin-top:5px;
}

#w_right #w_center .w_input{
margin:20px 0px;
}

.w_input input {
width:230px;
height:23px;
border:1px solid #ccc;
padding:3px 3px;
margin-right:5px;
font-size:1.2em;
}

.w_input textarea {
width:228px;
height:50px;
border:1px solid #ccc;
}

.w_input p.right {
width:80px;
float:left;
text-align:right;
padding-right:10px;
font-size:1.1em;
}

#copy_paste{
float:left;
width:42%;
}

#copy_email{
float:left;
width:42%;
}

#copy_mid{
float:left;
width:12%;
padding-top:30px;
}

#copy_mid p{
text-align:center;
font-size:1.5em;
color:#4F74A9;
}

div.widget_header{
width:100%;
height:30px;
margin:0px;
background-color:#E7E7E2;
}

div.widget_header p{
padding:5px 0px 5px 20px;
font-size:1.1em;
font-weight:500;
}

.copy_head{
 text-align:center;
 font-size:1.1em;
 margin-top:12px;
 padding-bottom:10px;
 color:#4F74A9;
 font-weight:500;
}

#widget_save{
margin-top:10px;
margin-left:42%;
margin-bottom:10px;
cursor: pointer;
}

#copy_paste textarea, #copy_email textarea{
width:100%;
padding:3px;
}

#copy_email input[type="text"]{
width:100%;
height:20px;
border:1px solid #ccc;
padding:2px;
font-size:1em;
}

#widget_main .select_small {
    color: #7E6C69;
    font-size: 0.8em;
    margin-left:70px;
    padding: 2px;
    width: 160px;
	
}

.widget_select_small{
	color: #7E6C69;
    font-size: 1em;   
    width: 160px;
}

#widget_main select {
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
    font-weight: normal;
    margin: 0;
    overflow: hidden; 
}

.btextColor{
}

/*------------------------------------------error messages
*/
.msg_info, .msg_success, .msg_warning, .msg_error, .msg_validation {
border: 1px solid;
margin: 10px 0px;
padding:10px 10px 10px 40px;
background-repeat: no-repeat;
background-position: 5px center;
font-size: 14px; 
 } 
.msg_info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('/../../public/images/errors/info.png');
}
.msg_success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('/../../public/images/errors/success.png');
}
.msg_warning {
color: #9F6000;
background-color: #FEEFB1;
background-image: url('/../../public/images/errors/warning.png');
}
.msg_error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('/../../public/images/errors/error.png');
}

.error,.jserror {
        background: #c00 !important;
}
    
.success {
    background: #008800 !important; 
}

 .error, .success,.jserror  {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.apps_page_not_found{
    width:85%;margin-left:auto;margin-right: auto;font-size: 2em;;margin-bottom:20px;color:#666666;
}
.supporting_page_not_found{
    width:85%;margin-left:auto;margin-right: auto;font-size: 1em;margin-top:20px;color:#666666; 
}

/**
Widget not place
*/

#widget_not_placed{
border: 1px solid black;
width:958px;
margin-left:auto;margin-right:auto;
height:auto;
padding:15px 0px;
background-color:#F7F7F9;
overflow:auto;
 position: fixed;
 _position: absolute;
 top:200px; 
}

#welcome_subscription{
border: 1px solid black;
width:500px;
margin-left:auto;margin-right:auto;
height:auto; 
padding:15px 0px; 
background-color:#F7F7F9;
overflow:auto;
 position: fixed;
 _position: absolute;
 top:100px; 
}

#widget_error_logo{
    float:left;
    width:auto;
    margin-top:25px;
    margin-left:20px;
}

#widget_error_message{
    float:left;
    width:650px;
    margin-left:20px;
}

#widget_error_btn{
    float:left;
    width:auto;
    margin-top:35px;
    margin-left:40px;
}

.widget_button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #4EB25C;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(center top, #5BCE6D , #4EB25C);
     border:1px solid #48A457;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    background-repeat: repeat-x;
    border-image: none;
    border-radius: 3px 3px 3px 3px; 
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: proxima-nova,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle; 
    }
 
 .widget_button_red {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #D24B4B;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(center top, #D24B4B , #D24B4B);
     border:1px solid #D24B4B;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    background-repeat: repeat-x;
    border-image: none;
    border-radius: 3px 3px 3px 3px; 
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: proxima-nova,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle; 
    }
    #D24B4B
.widget_button:hover {
     background-color: #57C66B;
     background-image: -moz-linear-gradient(center top, #5BCE6D , #57C66B);
}

.widget_button_red:hover {
     background-color: #D24B4B;
     background-image: -moz-linear-gradient(center top, #D24B4B , #D24B4B);
}

/** Tooltips **/

.info_tooltip{ 
	width: 92%;
    border-radius: 5px 5px 5px 5px;
	margin-left:auto; margin-right:auto; margin-bottom:10px;
    background: none repeat scroll 0% 0% rgb(255, 253, 239);
    border: 1px solid rgb(212, 210, 199);
   
    
}
.tooltip_content{
	 padding: 15px 20px 15px 30px; 
    font-size: 12px;
}
.info_tooltip_close{
	cursor: pointer;
	float: right;
	margin-right: 8px;
	color: #666666;
	font-weight: 600; 
	margin-top: 2px; 
}

.tooltip-close-bar{ 
	padding: 2px 4px 2px 4px; 
}
.tooltip-close-bar:hover{
	background-color: #1E7BB8;
	color:#FFFFFF;
	
}

#dropifi_progress{
	background: none repeat scroll 0 0 #E8F6F6;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.55);
    display: block;
    min-height: 80px;
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 5px;
    width: 150px;
    z-index: 9999999; 
}

#dropifi_progress_content{
	margin-top:5px;
   text-align: center; 
   font-weight: bolder; 
   margin-bottom:5px;
   z-index: 9999999;
}

/**Review Widget**/

.review_widget{
	text-decoration:none;
	color:#fff;
}
.review_widget:HOVER{
    text-decoration: underline;
}

.review_close{
   float:right;
   width: 20px;
   height: 20px;
   cursor: pointer;
   margin-right:20px;
}
.review_close:HOVER{
	background-color: #CCCCCC;
	border-radius:10px;
	text-align: center;    
}

.review_container{
	margin-top:10px;
}

/**Integration page**/
.integration_msg{
	text-align: center;
}


/**Message Notification **/
.message_notify{
        background-size: 40px 40px;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
        background-image:-webkit-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);  
        background-image:-ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);     
         background-image:-o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);                                     
         box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
         width: 100%;
         border: 1px solid;
         border-bottom:3px solid black;
         color: #fff;
         padding: 5px;
         position: fixed;
         _position: absolute;
         text-shadow: 0 1px 0 rgba(0,0,0,.5);
         animation: animate-bg 5s linear infinite; 
         font-size: 14px;
         font-weight: bold; 
}

.info_notify{ 
  background-color: #4ea5cd;
  border-color: #3b8eb5;
}

.error_notify{
         background-color: #de4343;
         border-color: #c43d3d;
}
         
.warning_notify{
   background-color: #eaaf51;
   border-color: #d99a36;
}

.success_notify{
   background-color: #61b832;
   border-color: #55a12c;
}
 
.message_notify h3{
   margin: 0 0 5px 0;                                                  
}

.message_notify p{
    margin: 0;                                                  
}

.error,.jserror {
   background: #c00 !important;
}
	
.success {
   background: #008800 !important;
}

.info{
	background-color: #4ea5cd;
}

.warning{
    background-color: #eaaf51;
}
	
.error, .success, .jserror, .info , .warning{
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px; 
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    } 
    
	to {
       background-position: -80px 0;
    }
}

.upgrade_link{
		
}


/*Social Review*/
.new_social{
	color:#FC0C0C;font-size: 12px;
}
sup,
sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    _vertical-align: bottom;
    position: relative;
	color:#FC0C0C;
}

sup {
bottom: 1ex;
}

sub {
top: .5ex;
}
