#analytics{
	min-height:300px;
	background-color:#FFF;
	border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.20);
	border-top:1px solid #E8E8E8;
	padding-bottom:10px;
}

#analytics_menu{
	margin-top:20px;
	position:relative;
}

#analytics_menu a{
margin-right:5px;
}


#analytics_selected:before{
  background: url("https://d1bqb1hjkncenc.cloudfront.net/public/images/features/sub_analytics_select.png") no-repeat scroll 0 0 transparent;
  bottom: -14px;
  content: " ";
    height: 14px;
    position: absolute;
    width: 30px;
	margin-left:15px;
}

.button-smallest{
font-size:1em;
padding:5px 11px;
text-align:center;
width:auto;
}

.analytics_divider_horizontal {
    border-top: 1px solid #E8E8E8;
    height: 1px;
    margin: 5px 0;
    padding: 0;
    position: relative;
}

.analytics_header{
 font-size:1.2em;
 padding-left:15px;
 font-weight:500;
}

.four_view{
width:24.5%;
float:left;
height:200px;
border-right:1px solid #E8E8E8;
text-align:center;
}



.data_display{
width:100%;
height:auto;
padding-bottom:4px;
overflow:auto;
}

.three_view{
width:33%;
float:left;
height:200px;
border-right:1px solid #E8E8E8;
}

.two_view{
width:48.5%;
float:left;
min-height:200px;
border-right:1px solid #E8E8E8;
text-align:center;
}

.one_view{
width:100%;
min-height:200px;
}

.last{
border-right:0px;
}


.data_desc_title{
    color:#999;
    font-size: 1.1em;
    font-weight:500;
}

.data_desc{
    width:100%;
    padding:3px;
    color:#ccc;
    text-align: center;
}

table.data_table{
width: 95%;
border-collapse: collapse;
margin:0 auto;
margin-top:10px;
}

table.data_table tr:nth-of-type(odd) {
	background: #eee;
}

table.data_table th {
	background: #33363B;
	color: white;
	font-weight: bold;
}

table.data_table td, table.data_table th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
}

.analytics_header span{
float:right;
font-size:0.9em;
margin-right:30px;
}

.analytics_date_info{
	text-align:center;
	font-size:1.5em;
 	padding-left:15px;
 	font-weight:100; 
 	color:#ccc;
}

.hasDatepicker{
	width:120px;
}

