*{
    margin:0;
    padding:0;
}

body{
font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
background: url("/../../public/images/form_img.png") repeat scroll 0 0 #F7F5EF;
border-radius: 100px 100px 100px 100px;
}

#form_main{
width:100%;
height:300px;
padding-top: 10px;
}

#form_area{
 width:95%; 
 height:90%;
 background: url("/../../public/images/form_img.png") repeat scroll 0 0 #F7F5EF;
 margin: 0 auto;
}

#form_footer{
  width:95%; 
 height:30px;
 margin: 0 auto;  
}

#form_footer p{
text-align: right;  
font-size: 0.7em;
padding-top: 10px;
color: #999;
}

.form_input{
    width:400px;
     margin: 0 auto;  
     margin-bottom: 10px;
     background-color: #fff;
}

.submit_input{
    width:400px;
     margin: 0 auto;  
     margin-bottom: 10px;
     background-color: #fff;
     background: url("/../../public/images/form_img.png") repeat scroll 0 0 #F7F5EF;
}

.form_input input {
    border: 1px solid #CDCDCD;
    font-size: 0.9em;
    font-weight: normal;
    height: 35px;
    width:100%;
    padding: 0 0 0 35px;
    background-color: #fff;
}


.form_input select {
    font-size: 0.9em;
    padding: 2px;
    width: 90%;
    background-color: #FFFFFF;
    border: 1px solid #fff;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    float:right;
    margin-right: 10px;
    padding-top: 6px;
    /*color:#7F7F7F;*/
}

#dropdown img{
    margin: 10px 0px 0px 8px;
}

#dropdown{
    border: 1px solid #CDCDCD;
    height: 35px;
    width:100%; 
}


input.email {
    background: url("/../../public/images/contact_email.png") no-repeat scroll 2% 50% transparent;
}

input.name {
    background: url("/../../public/images/contact_name.png") no-repeat scroll 2% 50% transparent;
}

input.phone {
    background: url("/../../public/images/contact_phone.png") no-repeat scroll 2% 50% transparent;
}

input.subject {
    background: url("/../../public/images/contact_subject.png") no-repeat scroll 2% 50% transparent;
}

div.header{
     width:400px;
     margin: 0 auto;  
     padding-bottom: 20px;
   padding-top: 20px;
}

#div_textarea{
    border: 1px solid #CDCDCD;
    font-size: 1.3em;
    font-weight: normal;
    height: 150px;
    width:100%; 
}

.button {
    font-size: 0.8em;
    padding: 2px 7px;
    text-align: center;
    width: auto;
    background-image: -moz-linear-gradient(center bottom , #1E7BB8 21%, #22AFF0 100%);
    border: 1px solid #347BAB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF !important;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-weight: 500;
    line-height: 1 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 100px 100px 100px 100px;
}


 #div_textarea p{
             font-size:0.6em;
             color:#999;
             padding-left: 10px;
             padding-top: 5px;
         }
    
 #div_textarea textarea{
    border: 1px solid #fff;
    font-size: 1em;
    font-weight: normal;
    height: 110px;
    width:100%; 
    padding:5px; 
         }
         
         
 #div_textarea a{
   color:#999;
   text-decoration: none;
   font-size: 0.6em;
   padding-left:10px;
         }
         
         
         
.divider_horizontal {
    border-top: 1px solid #E8E8E8;
    height: 1px;
    margin-bottom: 10px;
    padding: 0;
    position: relative;
}