*{
    margin:0;
    padding:0;
}

body{
font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
background-color:#fff;
}

  
  #window_title{
  background-color:#F9F8F1;
   text-align: left;
   padding:16px 0px;
   padding-left: 30px;
   font-size: 1.16em;
   border-bottom: 1px solid #BEBEBE;
   color: #3F3F3F;
   font-weight: 500;
  } 
  
  #window_content{
    margin:20px 30px;
  }
  
  .get_btn_small {
    background: none repeat scroll 0 0 #D24B4B;
    border: medium none;
    border-radius: 100px 100px 100px 100px;
    box-shadow: none;
    color: #FFFFFF !important;
    display: inline-block;
    float: right;
    font-size: 11px;
    font-weight: bold;
    margin-right: 10px;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    cursor: pointer;
}

div.input{
    float:right; 
    padding-right: 30px;
}

div.element{
    margin-bottom: 15px;
    overflow: auto;
}

div.input input[type="text"], div.input input[type="password"], div.input input[type="email"] {
    border: 1px solid #CDCDCD;
    font-size: 1.2em;
    font-weight: normal;
    height: 35px;
    padding: 0 0 0 10px;
    width: 320px;
    color:#7E6C69;
}

div.input textarea{
    border: 1px solid #CDCDCD;
    font-size: 1.1em;
    font-weight: normal;
    height: 100px;
    padding:5px;
    width: 320px;
    color:#7E6C69;
}

label{
    padding-left: 0px;
}

/* Switch Styles
---------------------------------------- */
.js .checkbox {
    display:none; 
}
.js .mCheckbox{
	display:none; 
}
.toggle{
    background:url('/../../public/images/yesno_old.png') bottom left;
    display:inline-block;
    width:50px;
    height:21px;
}
.toggle.checked{
    background-position:top left;
}

.mtoggle{
    background:url('/../../public/images/yesno_old.png') bottom left;
    display:inline-block;
    width:50px;
    height:21px;
}
.mtoggle.checked{
    background-position:top left;
}

.activated_option{
float:right;
padding-right:10px;
}

.checkbox_space{
    padding-right: 270px;
}

.checkbox_space_big{
    padding-right: 580px;
}

.success , .failure{
    width:100%;
    padding:5px 0;
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: 10px 10px 10px 10px;
    color:#fff;
    font-weight:bold;
}

.success{
    background-color:#B2DD6B;
}

.failure{
    background-color:#F59D9D;
}

select{
    background-color:#fff;
    border: 1px solid #AAAAAA;
    margin: 0;
    overflow: hidden;
    border: 1px solid #CDCDCD;
    font-weight: normal;
   
}

.select_big{
    font-size: 1.1em;
    height: 35px;
    padding:5px;
    width: 331px;
    color:#7E6C69;
}

.select_multiple{
    font-size: 1.1em;
    padding:5px;
   /*width: 331px;*/
    color:#7E6C69;
}

.select_small{
    font-size: 0.8em;
    padding:2px;
    width: 190px;
    color:#7E6C69;
    margin-right:5px;
}

.title{
    font-size: 1.1em;
    color:#D43F3F;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom:10px; 
}

.not_showing{
    display:  none;
}

.divider_horizontal {
    border-top: 1px solid #E8E8E8;
    height: 1px;
    margin: 10px 0;
    padding: 0;
    position: relative;
}

.left{
    float:left;
    width:15%;
}

.right{
    float:left;
    width:85%;
}

p.condition{
    text-align: center;
}

.text_small{
    border: 1px solid #CDCDCD;
    font-size: 0.8em;
    font-weight: normal;
    padding:2px;
    width: 190px;
    color:#7E6C69;
}

#group p{
    margin-bottom: 2px;
}

#group {
    margin-bottom: 10px;
    border: 1px dashed #E8E8E8;
    border-radius: 5px 5px 5px 5px;
    padding:10px;
}

#group div{
margin-bottom:20px;
width:100%;
}

.top{
  margin-top: 10px;  
}

.action_options {
	margin-top:5px;
    padding-left: 5px;
}

.action_options a {
    border: 1px solid #608BD2;
    border-radius: 100px 100px 100px 100px;
    color: #608BD2;
    padding: 1px 5px;
    text-decoration: none;
    font-size: 0.70em;
}

.action_options a:hover {
    border: 1px solid #000;
    color: #000;
}

.select_cond{
    font-size: .7em;
    padding:2px 4px;
    width: 70px;
    color:#7E6C69;
    margin:1px 0;
    border-radius: 100px 100px 100px 100px;
}

.right p{
    margin-bottom:10px; 
}

/*error message
--------------------------------------------------*/

.frmerror, .frmjserror {
	    	background: #c00 !important;
		}
		
.frmsuccess {
    background: #008800 !important;
}

 .frmerror, .frmsuccess,.frmjserror  {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}


/* compose area */
#compose {
    background-color: #5BA0D0;
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.7em;
    font-weight: 500;
    padding: 5px 10px;
    width: auto;
    border:1px solid #1E7AB8;
}

#compose:hover{
font-weight:bold;
background-color:#1E7AB8;
}



.compose_a {
    background-color: #F4F4F4 !important;
    color: #444 !important;
    display: inline-block;
    font-size: 0.7em !important;
    font-weight: 500 !important;
    padding: 5px 10px !important;
    width: auto !important;
    border:1px solid #ccc !important;
}

.compose_a:hover {
    background-color: #ccc;
	color:#000;
}

a{
    text-decoration: none;
    margin-right: 5px;
}

#compose_area{
    margin-top: 5px !important;
    width:100% !important;
    padding-bottom: 30px !important;
    background-color: #F4F4F4 !important;
}

#compose_area div.field{
    padding:10px 10px 0px 10px;
    width:100%;
}

div.field span {
    margin-right: 30px;
    font-size: 0.8em;
    color:#666;
    font-weight: 500;
}

div.field p.support {
    margin-bottom: 5px;
    font-size: 0.7em;
   
    margin-left: 90px;
}

div.field p.support a{
     color:#1E7AB8;
     display:inline-block;
     padding-top: 5px;
}

div.field p.support a:hover{
 text-decoration: underline;
}

div.field input{
    border: 1px solid #CDCDCD;
    font-size: 0.9em;
    font-weight: normal;
    height: 25px;
    width: 720px;
    color:#7E6C69;
    float:right;
    margin-right: 30px;
}
 .compose_from_tag{
    
    font-size: 0.9em;
    font-weight: normal;
    height: 25px;
    width: 720px;
    color:#7E6C69;
    float:right;
    margin-right: 21px;
 }
#text_editor{
    width:805px;
    height:250px;
    font-weight:normal;
    font-size: 0.8em;
}

/*------------------------------------------error messages
*/

.msg_info, .msg_success, .msg_warning, .msg_error, .msg_validation {
border: 1px solid;
margin: 10px 0px;
padding:10px 10px 10px 40px;
background-repeat: no-repeat;
background-position: 5px center;
font-size: 14px;
}
.msg_info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('/../../public/images/errors/info.png');
}
.msg_success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('/../../public/images/errors/success.png');
}
.msg_warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('/../../public/images/errors/warning.png'); 
}
.msg_error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('/../../public/images/errors/error.png');
}


#action_group{
    border: 1px dashed #E8E8E8;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    padding: 10px;}

.hide_overflow_text{ 
    padding-right:5px;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden; (hides vertical scrollbar);
    -ms-overflow-y: hidden; (hides vertical scrollbar); 
}

#dropifi_progress{
    background: none repeat scroll 0 0 #E8F6F6;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.55);
    display: block;
    min-height: 80px;
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 5px;
    width: 150px;
}

#dropifi_progress_content{
    margin-top:5px;
   text-align: center; 
   font-weight: bolder; 
   margin-bottom:5px;
}
 	
.link_upgrade{
	text-decoration:underline;
	color:#008000;
	font-weight: bold;
} 					  
	 <select class="select_big">
    <option value=""></option>
    <optgroup label="NFC EAST">
    <optgroup> </optgroup>
    <optgroup label="NFC NORTH">
    <option>Dallas Cowboys</option>
    <option>New York Giants</option>
    <option>Philadelphia Eagles</option>
    <option>Washington Redskins</option>
    </optgroup>
    </select>