

<div id="contact">
<div id="contactable" class="active" style="margin-left: 377px;"></div>
<form id="contactForm" action="" method="" style="margin-left: -44px;">
<div id="loading"></div>
<div id="callback"></div>
<div class="holder">
<p>
<p>
<p>
<p>
<p class="disclaimer">Please feel free to get in touch, we value your feedback</p>
</div>
</form>
</div>




#contactable {
    background-color: #333333;
    background-image: url("../media/images/contact.png");
    color: #FFFFFF;
    cursor: pointer;
    height: 102px;
    left: 0;
    margin-left: -5px;
    margin-top: 10px;
    overflow: hidden;
    position: fixed;
    text-indent: -100000px;
    top: 102px;
    width: 44px;
    z-index: 100000;
}



/*When form is expanded*/
element.style {
    margin-left: -44px;
}
#contactForm {
    background: none repeat scroll 0 0 #333333;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    height: 450px;
    left: 0;
    margin-left: -434px;
    margin-top: -160px;
    overflow: hidden;
    padding-left: 30px;
    position: fixed;
    top: 200px;
    width: 394px;
    z-index: 99000;
}