body {
    background:url("/../../public/images/bg-body.png") repeat scroll 50% 0 #EFEFEF;
    color: #232525;
    font: 13px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0 0 36px; 
}

#dashboard_intro { 
	width:100%;
	height:200px;
	background: url("/../../public/images/dashboard_bg.png") no-repeat right top  #F8FCFD; 
}

#dashboard_intro_small { 
	width:100%;
	height:100px;
	background: url("/../../public/images/dashboard_small.png") no-repeat right top  #F8FCFD; 
}

#welcome_msg{
width:450px;
height:200px;
float:left;
font-size:1.05em; 
}

#welcome_msg p{
width:100%;
text-align:center;

}

#your_welcome{
font-size:5em;
font-weight:500;
font-family: 'Dynalight', cursive;
}

#welcome_logo{
width:250px;
height:200px;
float:left;
}

#welcome_logo_small{
width:150px;
height:100px;
float:left;
}

.dash_display{
    height: auto;
    overflow: auto;
    padding-bottom: 0px;
    width: 700px;
	margin:0 auto;
}
 
.one_view {
    width: 100%;
	
}

#highcharts-6{
 margin:0 auto;
}


.three_view {
    border-right: 1px solid #E8E8E8;
    float: left;
    min-height: 165px;
    width: 33%;
	padding-bottom:5px;
}

.two_view {
    border-right: 1px solid #E8E8E8;
    float: left;
    min-height: 165px;
    width: 48%;
	padding-bottom:5px;
	margin-left:10px;
}

.three_view p{
text-align:center;
}

.metric_value{
	font-size:3.5em; 	
	font-weight:500;
}

.metric_text{
	font-size:1.35em;
	font-weight:500;
	padding-bottom:10px;
}

.metric_text span{
color:#1E7AB8;
padding-left:10px;
}

.metric_title{
	font-size:0.9em;
	font-variant:small-caps;
	text-transform:uppercase;
	color:#FA9300;
	font-weight:500;
}

.metric_desc{
	color:#666;
	width:90%;
	margin:0 auto;
	font-size:0.9em;
}

.last_view {
    border-right: 0 none;
}

#value_prop{
    color:#fff;
    font-size:3.3em;
    font-weight: bold;
    height: auto;
    width:auto;
    line-height: 1.1em;
	padding-left:2px;
	margin-bottom:10px;
}

#value_cont{
    color:#fff;
    font-size:17px;
	margin-bottom:15px;
	margin-top:10px;
	line-height: 1.3em;
}

#value_points p{
margin-bottom:5px;
font-size:1.3em;
}

#value_points p span{
margin-right:10px;
}

.slides_container{
width:580px;
height:280px;
}

.slide{
width:580px;
height:280px;
}

#slides .pagination{
margin:0;
padding:0;
width:auto;
float:right;
}

#slides .pagination li{
display:block;
float:left;
background-color:#498CAF;
margin-right:5px;
}

#slides .pagination li a{
color:#fff;
}

#slides .pagination li.current{
background-color:#C2D8E0;
}

#slides .pagination li.current a{
color:#000;
}


#value_stmnt{
margin-top:15px;
font-size:12.5px;
width:auto;
color:#fff;
}


.value_desc{
    margin-top: 20px;
    line-height: 1.5em;
    font-size:15px;
    color:#0D4E72;
	font-weight:500;
}

.blue_button{
	background-color:rgb(30,123,184); 
    border: medium none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    height: 30px;
    margin-left: 10px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    vertical-align: middle; 
	border-radius: 100px 100px 100px 100px;
	background-image: linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
	background-image: -o-linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.21, rgb(30,123,184)),
		color-stop(1, rgb(34,175,240))
	);
	
	 
	font-size: 12px;
    font-weight: bold;
	padding: 0px 21px;
	padding-top:10px;
}

.blue_invite_button{
    padding-top:10px;
    padding-bottom:10px;    
}
.blue_button:hover{
	background-color:rgb(30,123,184);
}
#header{
 width:100%;
 height:70px;
 background-color:#292B2F;
 position:fixed;
 z-index:3;
 overflow:hidden;
}

#sub_head_selected:before{
  background: url("/../../public/images/features/sub_head_select.png") no-repeat scroll 0 0 transparent;
  bottom: -14px;
  content: " ";
    height: 14px;
    position: absolute;
    width: 30px;
	margin-left:15px;
}

#admin_header{
 width:100%;
 height:40px;
 background-color:#292B2F;
}

.head_1{
color:#D24B4C;
font-size:2.7em;
 width:100%;
 font-family: 'Shadows Into Light Two', cursive;
 font-weight:600;
 word-spacing:0.02em;
 letter-spacing:0.1em;
 text-align:center;
}

.head_2{
color:#D24B4C;
font-size:1.6em;
 width:100%;
 font-family: 'Shadows Into Light Two', cursive;
 font-weight:600;
 word-spacing:0.02em;
 letter-spacing:0.1em;
 text-align:center;
 padding: 10px 0 10px 0;
}

.head_3{
 font-family: verdana;
 
}

p.small_word{
color:#4F74A9;
font-size:15px;
 font-weight:600px;
 word-spacing:0.01em;
 letter-spacing:0.08em; 
 margin-bottom:30px;
 text-align:center;
}

p.left_head_small{
	color:#000;
margin-top:90px;
font-size:15px;
 font-weight:600px;
 word-spacing:0.02em;
 letter-spacing:0.1em; 
 margin-bottom:10px;
}

#footer{
width:100%;
height:100px;
margin-top:60px;
border-top:1px dashed #ccc;
color:#999;
font-weight:500;
}

#head_content .menu{
float:right;
}

.read{
line-height:1.5em;
word-spacing:0.15em;
}

#head_content .menu a.item{
width:75px;
height:70px;
padding:0px 5px;
margin-right:8px;
display:inline-block;
float:right;
background-color:#33363B;
text-decoration:none;
color:#959b9d;
font-size:1.1em;
}

#admin_head_content .menu a.item{
width:75px;
height:35px;
padding:0px 5px;
margin-right:8px;
display:inline-block;
float:right;
background-color:#33363B;
text-decoration:none;
color:#959b9d;
font-size:13px;
padding-top:5px;
text-align:center;
}

#admin_head_content .menu a.item img{
margin-right:5px;
}

#head_content .menu a#selected,#admin_head_content .menu a#selected{
background-color:#1E7AB8; 
color:#fff;
}

#head_content .menu a:hover, #admin_head_content .menu a:hover{
background-color:#4C5059;
color:#fff;
}

#head_content .menu a p{
padding:0px;
margin:0px;
margin-top:20px;
font-size:1em;
font-weight:500;
text-align:center;
}

/*Home Page Start*/
#home_middle{
height:450px;
background-color:#000;
position:relative;
padding-top:70px;
}

a#play_video{
display:block;
margin-top:100px;
margin-left:100px;
width:112px;
height:113px;
background: url("/../../public/images/play_button_hover.png") no-repeat;
}

a#play_video:hover{
background: url("/../../public/images/play_button.png") no-repeat;
}

#bg_image{
position:absolute;
top:70px;
left:0px;
z-index:1;
height:450px;
width:100%;
background: url("/../../public/images/home_bg2.png") no-repeat  #5AA9D3;
}

#mid_content{
   padding-top:30px;  
}

#mid_left{
height:400px;
position:relative;
z-index:2;
}


#mid_right{
height:400px;
position:relative;
z-index:2;
}

#value_proposition{
	position:absolute;
width:100%;
height:400px;
margin-bottom:30px;
background: url("/../../public/images/logo_mascort.png") no-repeat;
}

a#press{
width:380px;
height:50px;
background-color:#fff;
border:1px solid #E8E8E2;
display:inline-block;
margin-right: 15px;
}

#press div{
width:300px;
font-size:0.95em;
float:right;
padding:5px 0px;
text-decoration:none;
}

a#press:hover{
	background-color:#D1E2F6;
}

#media_release{
    margin-top:20px;
}

#media_release a{
    margin-right: 10px;
}

#description{
margin-top:15px;
}


div.home_img{
border: 3px solid #FFFFFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	height:170px;
}
 
.info_box{
padding-right:5px;
}

.bottom_box{
margin-bottom:25px;
}

.img_h{
width:100%;
height:75px;
border-bottom:3px solid #fff;
background-color:#fff;
}


.home_title{
	text-align:left;
	margin-top:5px;
	font-weight:normal;
	font-size:13px;
	margin-bottom:2px;
	padding-left:5px;
	font-weight:500;
}

.home_desc{
  color:#4B4B4B;
  padding:0 5px;
  font-size:12px;
}

.color_box{
width:215px;
height:80px;
}

.feature{
margin-left:75px;
margin-top:12px;
}


p.title {
color:#D24B4B;
font-size:1.68em;
 width:100%;
 border-bottom:1px dashed #ccc;
 margin-bottom:20px;
 /*font-family: 'Shadows Into Light Two', cursive;*/
 font-weight:600;
 word-spacing:0.02em;
}

p.feature_desc{
margin-top:10px;
color:#000;
font-size:1.15em;
width:650px;
margin-left:auto;
margin-right:auto;
}

p.profile_desc{
margin-top:10px;
color:#000;
font-size:1.15em;
margin-left:auto;
margin-right:auto;
}

p.feature_desc span{
color:#4F74A9;
font-size:1.3em;
}


.get_started{  
	background-color: #1E7BB8;
	background-image: -moz-linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
	background-image: linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
	background-image: -o-linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);	
	background-image: -webkit-linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
	background-image: -webkit-gradient(	linear,left bottom,	left top,color-stop(0.21, rgb(30,123,184)),	color-stop(1, rgb(34,175,240)));
    border-radius: 100px 100px 100px 100px;
    box-shadow: none;
    color:#fff;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
}

.get_started_home{  
	background-color:rgb(210,75,75); 
	background-image: linear-gradient(bottom, rgb(210,75,75) 47%, rgb(249,47,57) 100%);
	background-image: -o-linear-gradient(bottom, rgb(210,75,75) 47%, rgb(249,47,57) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(210,75,75) 47%, rgb(249,47,57) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(210,75,75) 47%, rgb(249,47,57) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(210,75,75) 47%, rgb(249,47,57) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, rgb(210,75,75)),
		color-stop(1, rgb(249,47,57))
	);
    
    border-radius: 100px 100px 100px 100px;
    box-shadow: none;
    color:#fff;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    padding: 16px 22px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    line-height:0.8em;
}


.get_btn{
-moz-transition: all 0.25s ease 0s;
    background: -moz-linear-gradient(100% 100% 90deg, #99C757, #CCFE8B) repeat scroll 0 0 transparent;
    border: 1px solid #6F9A4D;
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    color: #385214 !important;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
}

.get_btn_small{   /* #4EB25C*/
    background: none repeat scroll 0 0 #D24B4B;	
    border: medium none;
    border-radius: 100px 100px 100px 100px;
    box-shadow: none;
    color: #fff !important;
    display: inline-block;
    font-size: 10px;
    font-weight:bold;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
	float:right;
	margin-right:10px;
}

.get_upgrade_small{
	background: none repeat scroll 0 0 #1D6645;
}


.get_btn_small:hover{
  background: none repeat scroll 0 0 #DA6C6C;
}

.get_upgrade_small:hover{
	background: none repeat scroll 0 0 #276D4C;
	color: #fff !important;
}

#value_pitch{
padding:10px 20px;
font-size:1.2em;
color:#333;
font-weight:600;
}


#value_pitch span{
padding:2px 4px;
background-color:#ffc;
}
/*Home Page End*/


/*Sub Page Start*/

#sub_page #left{
margin-top:90px;

min-height:400px;
}

#sub_page #right{
	border-left:1px dashed #ccc;
	padding-left:15px;
margin-top:120px;
min-height:400px;
}
/*Sub Page End*/


/*Pricing Start*/
#pricing_table{
width:999px;
height:auto;
margin:0 auto;
margin-bottom:20px;
}

#pricing_table li{
float:left;
width:240px;
display:inline;
margin:0px;
text-align:center;
}

#pricing_table_wix{
width:999px;
height:auto;
margin:0 auto;
margin-bottom:20px;
}

#pricing_table_wix li{
float:left;
width:320px;
display:inline;
margin:0px;
text-align:center;
}

.price_head{
height:50px;
color:#fff;
font-size:2.1em;
padding-top:5px;
}

.price_amount{
height:120px;
background-color:#fff;
color:#525252;
font-size:2.6em;
}
/*.price_amount.Free{
	background-color:#CCCCDD;
}

.price_amount.Lite{
	background-color:#F5B917;
}

.price_amount.Business{
	background-color:#93AB25;
}

.price_amount.Enterprise{
	background-color:#93AB25;
}
*/
.price_amount p{
color:#999;
font-size:13px;
}

.price_brown{
background-color:#F7F7F7;
}

.best_option{
border-left-color:#93AB25;
border-left-width:1px;
border-left-style:solid;
border-right-color:#93AB25;
border-right-width:1px;
border-right-style:solid;
}
 /*#F5B917*/
.price_feature{
background-color:#4C5059;
color:#FFF;
font-size:1em;
height:30px;
padding-top:7px;
text-align:right;
}

.price_white{
background-color:#FFF;
}


.price_brown_white{
background-color:#FCFCFC;
}

.price_brown, .price_white, .price_brown_white {
font-size:1em;
height:30px;
color:#000;
padding-top:7px;
}

.pricing_left div {
font-size:11.5px;
margin-bottom:5px;
padding:3px 10px 3px 0px;
}

.price_choose_plan{
	height: 55px;
}
/*Pricing End*/



.company_left div {
    font-size: 12.5px;
    margin-bottom: 5px;
    padding: 3px 10px 3px 0;
}

/*Form Creation Start*/
#form_registration{
   background-color:#fff;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 650px;
	height:auto;
	padding-bottom:30px;
	padding-top:30px;
}

#form_input{
	width:600px;
	margin:0 auto;
	height:auto;
}

tr{
	margin:30px;
}

td.var_name{
width:155px;
text-align:right;
padding-right:10px;
font-size:1.4em;
color:#7E6C69;
padding-top:3px;
}

td.var_input{
width:400px;
text-align:left;
padding-right:10px;
padding-bottom:10px;
}

#form_input input[type="text"], #form_input input[type="password"]{
width:92%;
height:35px;
border: 1px solid #CDCDCD;
font-size:1.3em;
padding:0px 0px 0px 30px;
font-weight:normal;
}

#form_input select{
width:100%;
height:35px;
border: 1px solid #CDCDCD;
font-size:1.3em;
padding:0px 0px 0px 30px;
font-weight:normal;	
}
input.site {
background: url(/../../public/images/form/home.png) no-repeat scroll 2% 50% transparent;
}

input.password {
background: url(/../../public/images/form/password.png) no-repeat scroll 2% 50% transparent;
}

input.email {
background: url(/../../public/images/form/email.png) no-repeat scroll 2% 50% transparent;
}

input.name {
background: url(/../../public/images/form/name.png) no-repeat scroll 2% 50% transparent;
}

input.company {
background: url(/../../public/images/form/company.png) no-repeat scroll 2% 50% transparent;
}

input.phone {
background: url(/../../public/images/form/phone1.png) no-repeat scroll 2% 50% transparent;
}

select.money { 
background: url(/../../public/images/form/money.png) no-repeat scroll 2% 50% transparent;
}

.btn{
    background: none repeat scroll 0 0 #D24B4B;
    border: medium none;
    border-radius: 100px 100px 100px 100px;
    color: #FFFFF7;
    display: block;
    font-size:1.1em;
    font-weight: bold;
    margin: 0 auto;
    padding: 6px 8px 6px 8px;
    text-align: center;
	cursor:pointer;
}

a{
text-decoration:none;
}

/*Form Creation End*/


/* Features Page Start*/
.feature_image{
   background-color:#fff;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 650px;
	height:390px;
	margin-top:2px;
}

.feature_image img{
width:610px;
height:350px;
border:1px solid #ccc;
margin:20px 20px;
}


ul{
	width:auto;	
}

li{
 list-style:none;
 margin:0px;
 padding:0px;
 display:block;
}

li a {
 padding-left:0px;
 margin-left:0px;
 color:#7E6C69;
 font-size:1em;
 padding:3px 10px;
 margin-bottom:1px;
 display:block;
}

li img{
margin-right:9px;
}

#mask .item{
margin-bottom:60px;
}

#features_menu a{
	cursor:pointer;
	font-size:1em;
	font-weight:600;
}

#features_menu a:hover{
	background-color:#EAEBE3;
}

 p.feature_title{
margin-bottom:15px;
font-size:1.5em;
font-weight:600;
text-align:center;
}

 p.feature_title span{
font-weight:normal;
padding-left:10px;
}

div.extra_feature{
margin: 30px auto 20px auto;
padding:10px 0px;
width:650px;
overflow:auto;
border-bottom:1px dashed #ccc;
border-top:1px dashed #ccc;
}

div.extra_feature div{
float:left;
}

div.extra_feature div.image{
width:154px;
height:146px;
border:3px solid #fff;
margin-right:10px;
margin-top:15px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

div.extra_feature div.description{
width:463px;
height:100%;
padding:5px;
}
     
.selected {
        background:#EAEBE3;
        font-weight:500;
    }
 
.clear {
        clear:both;
    }
/* Features Page Start*/


/*Company Page Start*/
div.team{
margin-bottom:45px;
height:auto;
padding-bottom:10px;
width:100%;
overflow:auto;
border-bottom:1px dashed #ccc;
}

div.team div{
float:left;
}

div.team div.image{
width:150px;
height:140px;
border:5px solid #fff;
margin-right:10px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

div.team div.description{
width:463px;
height:100%;
padding:5px;
}

p.team_title {
 font-size:1.2em;
 width:100%;
 font-weight:600;
 word-spacing:0.02em;
}

p.team_title span{
	color:#333;
 font-weight:normal;
 font-size:0.95em;
 font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
 font-variant:small-caps;
}

/*Company Page End*/

/*Admin Start*/
#admin_subheader{
	width:100%;
	min-height:30px;
	padding-top: 40px;
	background-color:#E7E7E2;
	position:fixed;
	z-index:2;
	border-bottom:1px solid #ccc;
}

.button {
background-color:rgb(30,123,184);
background-image: linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
background-image: -o-linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
background-image: -moz-linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);
background-image: -ms-linear-gradient(bottom, rgb(30,123,184) 21%, rgb(34,175,240) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.21, rgb(30,123,184)),
	color-stop(1, rgb(34,175,240))
);
	
    border: 1px solid #347BAB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF !important;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1 !important;
    padding: 9px 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    white-space: nowrap;
}

.button-small {
    font-size: 1.10em;
    padding: 8px 10px;
}

ul#sub_header{
	width:100%;
	margin:10px 0 0px 0;
}

ul#sub_header li{
display:inline-block;
margin-right:5px;
margin-bottom:10px;
}

/*Admin Sub Page Start*/
#admin_sub_page{
padding-top:70px;
}

#admin_sub_page #left{
margin-top:70px;
min-height:400px;
}

#admin_sub_page #right{
border-left:1px dashed #ccc;
padding-left:15px;
margin-top:70px;
min-height:400px;
}
/*Admin Sub Page End*/


#task_todo{
	width:100%;
}

#task_todo ul li{
	list-style:none;
	display:block;
	margin:0px;
	margin-bottom:10px;
	padding:0px;
	width:220px;
	height:45px;
	background: none repeat scroll 0 0 #FFF;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.55);
	padding:5px;
}

.card_title{
    padding:25px 0 0 15px;
	font-size:1.2em;
	color:#D24B4B;
}

.card {
    background: none repeat scroll 0 0 #Fff;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    float: left;
    margin: 0 0 10px;
    position: relative;
    width: 215px;
}

.card_big{
    background: none repeat scroll 0 0 #Fff;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.55);
    float: left;
    margin: 0 0 10px;
    width: 700px;
	min-height:300px;
	padding-bottom:20px;
}

.card_welcome {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.55);
    float: left;
    margin: 0 auto;
    min-height: 300px;
    padding-bottom: 20px;
    width: 100%;
}



.card a{
  color:#666;
  /*color:#B2B2B2;*/
  font-size:14px;
  text-transform:capitalize;
}

.divider_horizontal{
    border-top: 1px solid #E8E8E8;
    height: 1px;
    margin: 10px 0;
    padding: 0;
    position: relative;
    width: 215; 
}

#task_todo ul li a{
text-decoration:none;
font:Arial, Helvetica, sans-serif;
font-size:1.1em;
color:#292B2F;
font-weight:500;
padding:3px;
}

#task_todo ul li a img{
float:left;
margin-right: 7px;
}


.sub_btn {
    -moz-transition-duration: 0.3s;
    -moz-user-select: none;
    background-color:#86BDE6;
	
   /* border: 1px solid #AFAFAF;*/
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
}



#task_todo ul li a p{
font-size:11px;
font-weight:normal;
color:#1E7AB8;
}

.round{
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
-khtml-border-radius: 9px;
border-radius: 9px;
behavior: url(/../../public/stylesheets/border-radius.htc); 
}

.bg_round{
background:transparent;
border-color: transparent;  
}

#work_area_large{
 	width:100%;
	padding-bottom:60px;
	background-color:#FCFCFC;
	border:1px solid #ccc;
}

/*Admin End*/


/*Mail Management Start*/
.mail_slide #mask {
        width:800%;
        height:100%;
        background-color:#cfc;
    }
 
.mail_slide #wrapper .item {
        width:12.5%;
        height:100%;
        float:left;
    }
 
 .mail_slide .card {
    background: none repeat scroll 0 0 #Fff;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    float: left;
    margin: 0 0 10px;
    position: relative;
    width: 100%;
}
     
.mail_slide #wrapper .content {
        width:98%; /*700px*/
        min-height:500px;
        top:20%;
        margin:0 auto;
        position:relative;
		margin-left:3px;
		margin-top:2px;
		margin-bottom:2px;
    }

.mail_slide #wrapper .content p {
       width:650px;
	   margin:0 auto;
    }
/*Mail Management End*/





/* Popup Form Creation Start*/
#popup_form_registration{
   background-color:#fff;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 600px;
	height:auto;
	padding-bottom:10px;
	padding-top:10px;
}

#popup_form_input{
	width:550px;
	margin:0 auto;
	height:auto;
}

#popup_form_registration td.var_name{
width:200px;
text-align:right;
padding-right:10px;
font-size:1.4em;
color:#7E6C69;
padding-top:3px;
}

#popup_form_registration td.var_input{
width:300px;
text-align:left;
padding-right:10px;
padding-bottom:10px;
}

#popup_form_input input{
width:100%;
height:35px;
border: 1px solid #CDCDCD;
font-size:1.3em;
padding:0px 0px 0px 30px;
font-weight:normal;
}

#popup_form_input textarea{
width:100%;
border: 1px solid #CDCDCD;
font-size:1.3em;
padding:5px 15px 0px 15px;
font-weight:normal;

}


/*Agent Main CSS*/
#agent_head_content{
margin:0 auto;
width:98%;
}

#agent_head_content .menu a.item{
min-width:75px;
height:35px;
padding:0px 5px;
margin-right:8px;
display:inline-block;
float:right;
background-color:#33363B;
text-decoration:none;
color:#959b9d;
font-size:13px;
padding-top:5px;
text-align:center;
}

.button-smallest{
font-size:1em;
padding:5px 11px;
text-align:center;
width:auto;
}

a.menu_logout{
color:#959b90; 
display:inline-block; 
margin-top:7px;
}


#agent_header{
 overflow:hidden;
 width:100%;
 height:40px;
 background-color:#292B2F;
 position: fixed;
 z-index: 3;
}

#agent_head_content .menu a.item img{
margin-right:5px;
}

#agent_head_content .menu a#selected{
background-color:#1E7AB8;
color:#fff;
}

#agent_head_content .menu a:hover{
background-color:#4C5059;
color:#fff;
}

#right_work_area{
width:100%;
margin:0 15px;
}

/*Dropdown menu start*/
.the_menu {
	right:0;
	margin-top:40px;
    display:none;
    width:175px;
	position:fixed; 
	z-index:9999999;
}

.the_menu li {
    background-color: #33363B;
}
 
.the_menu li a {
    color:#959B9D;
    text-decoration:none;
    padding:5px 10px;
    display:block;
}
 
.the_menu li a:hover {
    color: #F00880;
}
/*Dropdown menu end*/



/*Customer list page start*/
ul#customer_list{
width:930px;
padding:5px;
min-height:40px;
margin:0 auto;
overflow:auto;        
}


ul#customer_list li{ 
float:left;
width:175px;
height:175px;
margin-left:10px;
margin-bottom:10px;
background:none repeat scroll 0 0 #FFF;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
text-align:center;
}

ul#customer_list li img{
margin-top:60px;
margin-right:0px;
}

.contact_anal_msg{
	font-size: 2.6em;
	font-weight: 200px;
}

.contact_three_view_height{
	min-height: 120px;
}

/*Customer list page end*/

.apps_page_not_found{
	width:85%;margin-left:auto;margin-right: auto;font-size: 2em;;margin-bottom:20px;color:#666666;
}
.supporting_page_not_found{
	width:85%;margin-left:auto;margin-right: auto;font-size: 1em;margin-top:20px;color:#666666;
}

.hide_overflow_text{ 
   padding-right:5px;
   overflow: auto;
   overflow-y: hidden;
   overflow-x: hidden;
   -ms-overflow-y: hidden; (hides vertical scrollbar);
   -ms-overflow-y: hidden; (hides vertical scrollbar); 
}

.deactivated{
	text-decoration: line-through;
	color: #BDBDBD;
}

.link_upgrade{
	text-decoration:underline;
	color:#008000;
	font-weight: bold;
} 

/*
IN APP Notifications
*/
.new_feature{
	color:#D24B4B;
	font-size:10px;
}

.inapp_notification{
    cursor: pointer;
    font-size: 14px;
    font-family:monospace;
    margin-top: 100px;
    padding: 5px;
    position: absolute;
    width: 100%;
    text-align: center;
}
.inapp_notification:HOVER{
	text-decoration: underline;
}

.inapp_notification a{
	 color: #FFFFFF;
}

.inapp_notification a :HOVER{
	text-decoration: underline;
}

