.message_notify{
        background-size: 40px 40px;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
        background-image:-webkit-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);  
        background-image:-ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);     
         background-image:-o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);                                     
         box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
         width: 100%;
         border: 1px solid;
         border-bottom:3px solid black;
         color: #fff;
         padding: 5px;
         position: fixed;
         _position: absolute;
         text-shadow: 0 1px 0 rgba(0,0,0,.5);
         animation: animate-bg 5s linear infinite; 
         font-size: 14px;
         font-weight: bold; 
}

.info_notify{ 
         background-color: #4ea5cd;
         border-color: #3b8eb5;
}

.error_notify{
         background-color: #de4343;
         border-color: #c43d3d;
}
         
.warning_notify{
         background-color: #eaaf51;
         border-color: #d99a36;
}

.success_notify{
         background-color: #61b832;
         border-color: #55a12c;
}
 
.messag_notifye h3{
         margin: 0 0 5px 0;                                                  
}

.message_notify p{
         margin: 0;                                                  
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}