.type-row{
padding: 10px;	
}

.data-row{
	 
}

.btn-purchase{
	background: none repeat scroll 0 0 #D24B4B;
    border: medium none;
    border-radius: 100px 100px 100px 100px;
    color: #FFFFF7;
    cursor: pointer;
   /* display: block;*/
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 auto;
    padding: 6px 8px;
    width: 100px;
    /*text-align: center;*/
}

#subscriptionTable {
    float: left;
    margin-top: 20px;
    width: 100%;
}
#subscriptionTable #informationBox {
    background: none repeat-x scroll 0 -1051px #F4F4F4;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    float: left;
    margin-top: -8px;
    padding-top: 10px;
    position: relative;
    width: 100%;
}
#subscriptionTable #informationBox p {
    margin: 20px;
}
#subscriptionTable #informationBox p.space {
    margin-bottom: -10px;
}
#subscriptionTable .bar {
    background: none repeat-x scroll 0 0 #1E7AB8;
    border-bottom: 1px solid #E1E1E1;
    height: 120px;
    width: 100%;
}
.monthlyAmount{
    color: #525252;
    font-size: 2.6em;
}

.yearlyAmount{
	font-size: 1em;
}
 
#subscriptionTable .transbar {
	background:inherit;
	border-bottom: 1px solid #E1E1E1;
    height: 120px;
    width: 100%;
}
#subscriptionTable .bar h3 {
    /*color: #292B2F;
    font-size: 16px;*/
    padding-top: 8px;
    color: #FFFFFF;
    font-size: 2.1em;
}
#subscriptionTable .currentPlan .bar h3, #subscriptionTable .currentPlan .bar p {
    color: black;
}
#subscriptionTable .bar p {
    color: white;
    font-size: 11px;
    font-weight: bold;
}
#subscriptionTable .bar.first {
    border-top-left-radius: 10px;
}
#subscriptionTable #feature .row {
    border-left-style: none;
    padding-right: 10%;
    width: 90%;
}
#subscriptionTable #feature .row.row-with-help {
    padding-right: 4%;
    width: 96%;
}
#subscriptionTable #feature .row a.showHelp {
    float: right;
    margin: 12px 0 0;
}
#subscriptionTable .row.tall {
    color: #5C5C5C;
    height: 100px;
    line-height: 18px;
}
#subscriptionTable .bar.last {
    border-top-right-radius: 10px;
}

#subscriptionTable .Free{
	background-color: #CCCCDD;
}

#subscriptionTable .Starter{
	background-color: #CCCCDD;
}

#subscriptionTable .Lite{
	background-color: #EF9935;
}

#subscriptionTable .Business{
	background-color: #93AB25; 
}

#subscriptionTable .Enterprise{
	background-color: #93AB25;
}

.price_choose_plan .Free{
	background-color: #CCCCDD;
}

.price_choose_plan .Starter{
	background-color: #CCCCDD;
}

.price_choose_plan .Lite{
	background-color: #EF9935;
}

.price_choose_plan .Business{
	background-color: #93AB25; 
}
.price_choose_plan .Enterprise{
	background-color: #93AB25;
}

.price_choose_plan.currentPlan{
    border-left-style: none;
    border:1px solid #93AB25;
    box-shadow: 0 4px 80px rgba(0, 0, 0, 0.4);
    margin-right: -1px;
    margin-top: -8px;
    padding-bottom: 8px;
    padding-top: 8px;
    z-index: 3;
}
#subscriptionTable .row {
    background-color: white;
    border-bottom: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    height: 40px;
    line-height: 50px;
    width: 100%;
}
#subscriptionTable .row.large {
    font-size: 16px;
}
#subscriptionTable .row.alt {
    background: none repeat-x scroll 0 -1051px #F4F4F4;
}
#subscriptionTable .plan {
    float: left;
    position: relative;
    text-align: center;
    width: 230px;
    z-index: 2;
}
#subscriptionTable .plan .currentPlan {
    background-color: white;
    border-left-style: none;
    border-radius: 4px 4px 4px 4px;
    border:1px solid #F4F4F4;
    box-shadow: 0 4px 80px rgba(0, 0, 0, 0.4);
    margin-right: -1px;
    margin-top: -8px;
    padding-bottom: 8px;
    padding-top: 8px;
    position: relative;
    z-index: 3;
}
#subscriptionTable .plan.currentPlan .row {
    background-color: white;
    background-image: none;
    border-bottom-color: #EFF1F1;
    border-left-style: none;
   
}
#subscriptionTable .plan.currentPlan .row.tall {
    background-color: white;
    border-bottom-style: none;
    
}

#agent_header{
	z-index:4;
}
#subscriptionTable .plan .row.tall #changeBilling {
    left: 25px;
    position: absolute;
    top: 18px;
}
#subscriptionTable .plan .row.tall .upgrade {
    left: 65px;
    position: absolute;
    top: 30px;
}
#subscriptionTable .plan .row.tall span {
    position: relative;
    top: 28px;
}
#subscriptionTable .plan .row.tall #cancelService {
    color: #777878;
    font-size: 1.2em;
    left: 30px;
    position: absolute;
    top: 50px;
}
#subscriptionTable .plan.currentPlan .row.alt {
    background-color: #F7F7F7;
}
#subscriptionTable .plan.currentPlan .bar {
    background-color: white;
    background-image: none;
    border-bottom: 1px solid #EFF1F1;
    margin-bottom: 0;
    margin-top: -1px;
    position: relative;
    
    z-index: 1;
}
#subscriptionTable #feature {
    float: left;
    text-align: right;
    width:260px; 
    padding-left:2px;
}
#subscriptionTable .icon{   
    background-repeat:no-repeat;
    float: left;
    height: 24px;
    position: absolute;
    top: 14px;
    width: 24px;
}
#subscriptionTable .icon.yes {
	 background-image: url("../../public/images/yes.png");
    /* background-position: -225px -528px; */
}
#subscriptionTable .icon.no {
	background-image: url("../../public/images/no.png");
   /* background-position: -225px -552px; */
}
#subscriptionTable div {
    position: relative;
}

#upgrade{
	width: 50px;
}

#accountactivity:hover {
	color:#E89E76; 
}

.pricing_wix{
	width: 320px;
}

/*******************************************/

.clearfix {
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.container {
    width: 940px;
}
.container:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.container:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.container {
    width: 940px;
}
.container:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.container:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.note {
    background: url("/images/home/note.gif") repeat-x scroll left bottom #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    padding: 20px;
}
 
.mb {
    margin-bottom: 40px;
}
.mt {
    margin-top: 40px;
}
img.f {
    float: left;
    margin-right: 10px;
}
img.r {
    float: right;
    margin-left: 10px;
}
.clearfix h2 {
    font-size: 24px; 
    font-weight: normal;
}
.clearfix h3 {
    font-size: 15px;
    font-weight: normal;
}
.legend {
    text-align: center;
}
.legend span {
    background: none repeat scroll 0 0 #f2f7fa;
    border-radius: 3px;
    color: #666;
    font-size: 12px;
    padding: 8px 10px;
}
.trialnotice {
    text-align: center;
}
.trialnotice span {
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px;
    font-size: 12px;
    padding: 8px 10px;
}
.green {
    font-size: 13px;
    text-align: center;
}
.green a {
    background-color: #77a12b;
    background-image: linear-gradient(#91bc43, #77a12b);
    background-repeat: no-repeat;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #111111;
    display: block;
    line-height: 20px;
    padding: 7px 10px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.green a:hover {
    background-position: 0 -15px;
    color: #111111;
    text-decoration: none;
}
.green a:hover {
    background-position: 0 -15px;
    color: #111111;
    text-decoration: none;
}
#language {
    background-color: #333;
    border-bottom: 1px solid #666;
    color: #cecece;
    font-size: 12px;
    padding: 5px 3px;
}
#language a {
    border-bottom: medium none;
    text-decoration: underline;
}
#top {
    background-color: #ffffff;
    background-image: linear-gradient(#f2f7fa, #ffffff);
    background-repeat: no-repeat;
    border-bottom: 1px solid #c4e0e4;
}
#top .container_12 {
    padding: 20px 0 10px;
}
#top #logo h1 {
    background: url("/images/home/logo.png") no-repeat scroll 0 0 transparent;
    color: transparent;
    font-size: 1px;
    height: 100px;
}
#top #navigation {
    text-align: center;
}
#top #navigation ul {
    margin: 0;
    padding: 0;
}
#top #navigation ul li {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#top #navigation ul li a {
    background-color: #e6e6e6;
    background-image: linear-gradient(#ffffff, #e6e6e6);
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #444444;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 4px;
    padding: 6px 10px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
#top #navigation ul li a:hover {
    background-position: 0 -15px;
    color: #444444;
    text-decoration: none;
}
#top #navigation ul li a:hover {
    background-position: 0 -15px;
    color: #444444;
    text-decoration: none;
}
#top #navigation ul li a.current {
    background-color: #d9d0d0;
    background-image: linear-gradient(#eeeeee, #d9d0d0);
    background-repeat: no-repeat;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #444444;
    display: inline-block;
    line-height: 20px;
    padding: 6px 10px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
#top #navigation ul li a.current:hover {
    background-position: 0 -15px;
    color: #444444;
    text-decoration: none;
}
#top #navigation ul li a.current:hover {
    background-position: 0 -15px;
    color: #444444;
    text-decoration: none;
}
#top #quote {
    color: #999;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 10px;
}
#top #quote em {
    border-bottom: 1px solid #ddd;
}
#content {
    background: linear-gradient(#f2f7fa, #c4e0e4) no-repeat scroll center top #c4e0e4;
    padding-bottom: 30px;
    padding-top: 5px;
}
#content .hook {
    font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 30px 0;
    text-align: center;
}
#content .hook h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0 5px;
}
#content .hook h2 a {
    border: medium none;
}
#content .hook .who {
    color: #666;
    font-size: 13px;
}
#content .hook .who a {
    border-bottom: 1px solid #ccc;
    color: #888;
    font-style: normal;
}
#content .hook .who span {
    background: none repeat scroll 0 0 #fffeee;
    border-radius: 3px;
    padding: 4px;
}
#features {
    background: url("/images/home/note.gif") repeat-x scroll left bottom #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    margin-top: 12px;
    padding: 20px;
}
#features h2 {
    background: none repeat scroll 0 0 #333;
    color: #fff;
    font-size: 13px;
    margin: 15px -20px 20px;
    padding: 8px 20px;
}
#features h2 a {
    border-color: #444;
    color: #ccc;
}
#features ul {
    font-size: 12px;
    margin: 10px 0 30px;
    padding: 0;
}
#features ul li {
    list-style: none outside none;
    margin: 0;
}
#features ul li div {
    border-bottom: 1px solid #eee;
    color: #444;
    padding: 5px 0 5px 5px;
}
#features ul li div img {
    margin-right: 5px;
    vertical-align: middle;
}
#features ul li div *:hover {
    background: none repeat scroll 0 0 #eee;
}
.box {
    background: url("/images/home/note.gif") repeat-x scroll left bottom #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    margin-bottom: 30px;
    padding: 20px;
}
.box h2 {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}
#feature_details em {
    background: none repeat scroll 0 0 #fbfbf6;
    font-style: normal;
    padding: 2px;
}
#feature_details .grid_3 h2 {
    color: #222;
    font-size: 17px;
    margin-top: 15px;
}
#plans {
    margin-left: 5px;
    padding: 20px;
    text-align: center;
}
#plans .plan {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 15px;
    margin-top: 43px;
    padding: 15px;
    width: 160px;
}
#plans .plan ul {
    margin: 0 0 20px;
    padding: 0;
}
#plans .plan ul li {
    border-bottom: 1px solid #f5f6f7;
    list-style: none outside none;
    margin: 0;
    padding: 3px;
}
#plans .plan .name {
    background: linear-gradient(#ffffff, #f6f7f8) no-repeat scroll 0 0 #f6f7f8;
    border: 1px solid #f6f7f8;
    border-radius: 5px;
    margin: -10px -10px 10px;
    padding: 10px 5px;
}
#plans .plan h2 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 6px;
}
#plans .plan h3 {
    color: #666;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
}
#plans .plan em {
    background: none repeat scroll 0 0 ;
    color: #444;
    font-style: normal;
    font-weight: bold;
    padding: 3px;
}
#plans .recommended {
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #c4e0e4;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    float: left;
    margin-right: 15px;
    padding: 15px 10px 10px;
}
#plans .recommended h4 {
    color: #c4e0e4;
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 10px;
    text-transform: uppercase;
}
#plans .recommended .plan {
    background: none repeat scroll 0 0 #fffeee;
    margin: 0;
}
#plans .recommended .name {
    background: none repeat scroll 0 0 #fffccc;
    border: 1px solid #fff999;
}
#footer {
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 12px;
    margin-top: 0;
    padding-bottom: 20px;
    padding-top: 25px;
}
#footer h3 {
    font-size: 15px;
    margin: 0;
}
#footer a {
    border-bottom: 1px solid #ccc;
    color: #555;
}
#footer ul {
    font-size: 12px;
    margin: 10px 0 30px;
    padding: 0;
}
#footer ul li {
    list-style: none outside none;
    margin: 0;
}
fieldset {
    background: url("/images/home/note.gif") repeat-x scroll left bottom #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    padding: 20px;
}
fieldset label {
    clear: both;
    color: #999;
    display: block;
    font-size: 11px;
    line-height: 2em;
}
fieldset input, fieldset textarea {
    background: none repeat scroll 0 0 #f6f6f6;
    border: 1px solid #ccc;
    color: #444;
    display: block;
    font-size: 11px;
    padding: 5px;
    width: 97%;
}
fieldset input.submit {
    background: none repeat scroll 0 0 #85c62c;
    border: 3px solid #eee;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    margin: 10px 0 20px;
    padding: 5px 8px;
    width: auto;
}
.doc {
    background: url("/images/home/note.gif") repeat-x scroll left bottom #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    margin: 30px auto;
    padding: 20px;
    width: 500px;
}
#blackfriday {
    background: none repeat scroll 0 0 #111;
    border-bottom: 1px solid #444;
    color: #fff;
    font-family: "proxima-nova-1","proxima-nova-2","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 9px;
    text-align: center;
}
#blackfriday #countdown {
    background: none repeat scroll 0 0 #222;
    color: #fffccc;
    font-family: "Courier New",monospace;
    padding: 2px;
}
#blackfriday a {
    border-bottom: 1px solid #444;
    color: #74d5e0;
    text-decoration: none;
}
#blackfriday a:hover {
    color: #fffccc;
}
