#dropifi_widget_v1_contactable .cheetahWidget2012_holder {
	margin:0 auto;
	padding:8px;	
	background-color:#F9F9F9;
	border:1px solid #ccc;
}	


#cheetahWidget2012_footer{
	 padding-top:5px;
	 font-size:0.6em;
}

#dropifi_widget_v1_contactable form#cheetahWidget2012_contactForm .cheetahWidget2012_disclaimer {
	text-align:left;
	font-size:14px;
	margin:5px 0 10px 5px;
	color:#666;
	font-weight:500;
}

#dropifi_widget_v1_contactable #cheetahWidget2012_contactForm .cheetahWidget2012_red {
	color:	#F5410F; 
}

#dropifi_widget_v1_contactable form#cheetahWidget2012_contactForm #cheetahWidget2012_loading {
	background: url(https://s3.amazonaws.com/dropifi/images/ajax-loader.gif) no-repeat;
	width:55px;
	height:55px;
	margin: 100px auto;
	display:none;
}

#dropifi_widget_v1_contactable #cheetahWidget2012_callback {
	font-family: georgia;
	font-size:1.1em;
	color: #FFF;
	width:325px;
	margin: 100px auto;	
	display:none;
}



/*from previous css*/
.cheetahWidget2012_form_input{
    width:370px;
    margin: 0 auto;  
    margin-bottom: 10px;
    background-color: #fff;
}

.cheetahWidget2012_submit_input{
     width:370px;
     margin: 0 auto;  
     margin-bottom: 15px;
     background: url("https://s3.amazonaws.com/dropifi/images/widget/client/images/form_img.png") repeat scroll 0 0;
}

.cheetahWidget2012_form_input input {
    border: 1px solid #CDCDCD;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
    width:332px;
    padding: 3px 3px 3px 35px;
    background-color: #fff;
}


select.cheetahWidget2012_subject {
    font-size: 13px;
    padding: 2px;
    width: 90%;
    background-color: #FFFFFF;
    border: 1px solid #fff;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    float:right;
    margin-right: 10px;
    padding-top: 5px;
	font-family:Arial, Helvetica, sans-serif;
}

#cheetahWidget2012_dropdown img{
    margin: 8px 0px 0px 8px;
}

#cheetahWidget2012_dropdown{
    border: 1px solid #CDCDCD;
    height: 31px;
    width:100%; 
	background-color: #FFFFFF;
	margin-bottom:15px;
}


input.cheetahWidget2012_email {
    background: url(https://s3.amazonaws.com/dropifi/images/widget/client/contact_email.png) no-repeat scroll 2% 50% transparent;
}

input.cheetahWidget2012_name {
    background: url(https://s3.amazonaws.com/dropifi/images/widget/client/contact_name.png) no-repeat scroll 2% 50% transparent;
}

input.cheetahWidget2012_phone {
    background: url(https://s3.amazonaws.com/dropifi/images/widget/client/contact_phone.png) no-repeat scroll 2% 50% transparent;
}

input.cheetahWidget2012_subject {
    background: url(https://s3.amazonaws.com/dropifi/images/widget/client/contact_subject.png) no-repeat scroll 2% 50% transparent;
}

div.cheetahWidget2012_header{
    width:100%;
    margin: 0 auto;  
    padding-bottom: 20px;
   padding-top: 20px;
}

#cheetahWidget2012_div_textarea{ 
    border: 1px solid #CDCDCD;
    font-size: 1em;
    font-weight: normal;
    padding-bottom:10px;
    width:370px; 
	overflow:auto;
}

.cheetahWidget2012_button {
    font-size: 12px;
    padding: 3px 7px;
    text-align: center;
    width: auto;
    background-image: -moz-linear-gradient(center bottom , #1E7BB8 21%, #22AFF0 100%);
    border: 1px solid #347BAB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF !important;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 100px 100px 100px 100px;
	cursor:pointer;
}

.cheetahWidget2012_button:hover{
	font-weight:600;
}


 #cheetahWidget2012_div_textarea p{
    font-size:12px;
    color:#666;
    padding-left: 10px;
    padding-top: 2px;
  }
    
 #cheetahWidget2012_div_textarea textarea{
    border: 1px solid #fff;
    font-size: 1em;
    font-weight: normal;
    height:50px;
    width:358px; 
    padding:5px; 
    }
            
 #cheetahWidget2012_div_textarea a{
   color:#666;
   text-decoration: none;
   font-size: 11px;
   padding-left:10px;
}
         
.cheetahWidget2012_divider_horizontal {
   border-top: 1px solid #E8E8E8;
   height: 1px;
   margin-bottom: 10px;
   padding: 0;
   position: relative;
}


.cheetahWidgetError_field{
	color: red;
}