form#cheetahWidget2012_contactForm{margin:0px;padding:0px;}
.cheetahWidget2012_holder{background-image:url(https://s3.amazonaws.com/dropifi/images/widget/client/form_img.png);border:1px solid #ccc;margin:0 auto;padding:8px;}
#cheetahWidget2012_footer{display:none; margin-top: 0px; margin-bottom: 0px; font-size:.6em;}
form#cheetahWidget2012_contactForm .cheetahWidget2012_disclaimer{text-align:left;font-size:14px;color:#666;font-weight:bold;margin:5px 0 10px 5px}
#cheetahWidget2012_contactForm .cheetahWidget2012_red{color:#F5410F}
form#cheetahWidget2012_contactForm #cheetahWidget2012_loading{background:url(https://s3.amazonaws.com/dropifi/images/ajax-loader.gif) no-repeat;width:55px;height:55px;display:none;margin:100px auto}
#cheetahWidget2012_callback{font-family:georgia;font-size:1.1em;color:#FFF;width:325px;display:none;margin:100px auto}
.cheetahWidget2012_form_input{width:99%;background-color:inherit;margin:0 0 10px} 
.cheetahWidget2012_submit_input{width:100%;height:25px;}
.cheetahWidget2012_form_input input{border:1px solid #CDCDCD;font-size:14px;font-weight:400;height:20px;width:95%;background-color:#fff;padding:3px 3px 3px 35px}
select.cheetahWidget2012_subject{font-size:14px;width:87%;background-color:#fff;border:1px solid #fff;font-weight:400;overflow:hidden;float:right;margin:0 10px 0 0;padding:2px 2px 2px}
#cheetahWidget2012_dropdown img{margin:8px 0 0 8px} 
#cheetahWidget2012_dropdown{border:1px solid #CDCDCD;height:28px;width:100%;background-color:#FFF;margin-bottom:15px}
input.cheetahWidget2012_email{background:url(https://s3.amazonaws.com/dropifi/images/widget/client/contact_email.png) no-repeat scroll 2% 50% #fff;}
input.cheetahWidget2012_name{background:url(https://s3.amazonaws.com/dropifi/images/widget/client/contact_name.png) no-repeat scroll 2% 50% #fff;}
input.cheetahWidget2012_phone{background:url(https://s3.amazonaws.com/dropifi/images/widget/client/contact_phone.png) no-repeat scroll 2% 50% #fff;}
input.cheetahWidget2012_subject{background:url(https://s3.amazonaws.com/dropifi/images/widget/client/contact_subject.png) no-repeat scroll 2% 50% #fff;}
input#cheetahWidgetField_attachment{width:70%;height:25px;margin-left:10px;}
div.cheetahWidget2012_header{width:100%;padding-bottom:20px;padding-top:20px;margin:0 auto}
#cheetahWidget2012_div_textarea{text-align:center;border:1px solid #CDCDCD;font-size:14px;font-weight:400;padding-bottom:5px;width:100%;overflow:auto; background-color: #fff}
.cheetahWidget2012_button{background-color:#1E7BB8;	font-size:13px;text-align:center;width:auto;
background-image:-webkit-gradient(linear, 0 100%, 0 0%, color-stop(0.21, #1E7BB8), to(#22AFF0));
background-image:-moz-linear-gradient(center bottom , #1E7BB8 21%, #22AFF0 100%);
background-image: -ms-linear-gradient(linear, 0 100%, 0 0%, color-stop(0.21, #1E7BB8), to(#22AFF0)); 
background-image: -o-linear-gradient(linear, 0 100%, 0 0%, color-stop(0.21, #1E7BB8), to(#22AFF0));
background-image: linear-gradient(linear, 0 100%, 0 0%, color-stop(0.21, #1E7BB8), to(#22AFF0));
border:1px solid #347BAB;box-shadow:0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 2px rgba(0,0,0,0.05); 
color:#FFF; display:inline-block;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:500;line-height:1!important;text-shadow:0 -1px 0 rgba(0,0,0,0.3);vertical-align:middle;white-space:nowrap;border-radius:100px 100px 100px 100px;cursor:pointer;padding:3px 7px}
.cheetahWidget2012_button:hover{font-weight:600}
#cheetahWidget2012_div_textarea p{text-align:left;font-size:14px;color:#666;padding-left:10px;padding-top:0px;margin-top: 0px;margin-bottom:2px;}
#cheetahWidget2012_div_textarea textarea{border:1px solid #CDCDCD;background-color:#fff;font-size:14px;font-weight:400;min-height: 80px;max-height:80px;width:97%;resize: none;}
#cheetahWidget2012_div_textarea a{text-align:left;color:#666;text-decoration:none;font-size:11px;padding-left:5px;margin:10px 0px 10px 0px;}
.cheetahWidget2012_divider_horizontal{border-top:1px solid #E8E8E8;height:1px;margin-bottom:5px;position:relative;padding:0} 
.cheetahWidgetError_field{color:red;font-size: 12px;}
#dropifiWidget_powered_by_dropifi{border: none}
body{margin:0px;padding:0px; font-family:Tahoma!} 
input:hover, #cheetahWidget2012_dropdown:hover, #cheetahWidget2012_div_textarea:hover{
    border: 1px solid #CCCCCC;
}
input,  #cheetahWidget2012_dropdown ,#cheetahWidget2012_div_textarea,#cheetahWidgetField_attachment{
	border-radius: 5px 5px 5px 5px;
    -ms-border-radius:5px 5px 5px 5px; 
    -o-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
}
#cheetahWidget2012_button_callbackmessage{
	color:black; font-size:1.2em;margin-top:20px;
}