.qq-uploader { position:relative; width: 100%; }

#file-uploader{
width:342px;
float:right;
overflow:auto;
}

.qq-upload-button {
    display:inline-block ;
    padding: 7px 0;   
	font-size:12px; 
	cursor:pointer;
}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {width:75%; float:right; height:auto;}
.qq-upload-list li { margin:0; padding:0; font-size:11px; margin-top:6px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

#div_textarea a.qq-upload-cancel{
    color:#C83D14;
}

.qq-upload-file {
   color:#1E7BB8;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("https://s3.amazonaws.com/dropifi/images/widget/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}