body {
  margin: 10px;
  font-family: "Arial", sans-serif;
}
.intro.box {
  cursor: default;
  overflow: hidden;
  padding: 0;
}
.intro.box:hover {
  background: #fff;
  border-color: #ccc;
}
.intro .title {
  max-width: 30%;
  float: left;
}
.intro .title .divider {
  height: 86px;
  width: 1px;
  background: #ccc;
  margin: 24px 24px 24px 0;
  float: left;
}
.intro .icon,
.intro .description {
  float: left;
}
.intro .icon {
  position: relative;
  margin: 24px;
  width: 86px;
  height: 86px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.intro .icon .logo {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  background: url('../../images/dropifi_icon.png') center;
   background-repeat: no-repeat;
}
.intro .icon .gloss {
  position: absolute;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.2)));
  /* Chrome,Safari4+ */

  z-index: 1;
  border-top-right-radius: 38px 38px;
  border-top-left-radius: 38px 38px;
  border-bottom-right-radius: 120px 30px;
  border-bottom-left-radius: 100px 30px;
  height: 50%;
  width: 100%;
}
.intro .description {
  margin: 24px 0;
}
.intro .description p {
  margin: 0;
}
.login-panel {
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}
.login {
  overflow: hidden;
  padding-right: 10px;
}
.login button.submit {
  float: right;
}
.login .premium-features,
.login .create-account {
  margin: 0;
  float: left;
  font-size: 11px;
  text-align: left;
  color: #737373;
}
.login .user {
  position: relative;
  min-height: 110px;
}
.login .user p {
  margin: 24px 0 0;
}
.login .premium {
  overflow: hidden;
  width: 100%;
  bottom: 0;
}
.login .premium > p {
  margin: 0;
  line-height: 30px;
}
.login .disconnect-account {
  cursor: pointer;
}
.premium-features {
  background: url('../../images/premium-features.png') no-repeat center left;
  padding-left: 20px;
}
.box {
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 0 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
.box > h3 {
  font-size: 12px;
  display: block;
  font-weight: normal;
  margin: 0;
  line-height: 40px;
  color: #0099ff;
}
.box > h3:before {
  content: " ";
  background-image: url('../../images/expand-collapse-sprite.png');
  background-repeat: no-repeat;
  background-position: 0 -85px;
  width: 22px;
  height: 23px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.box > h3:hover {
  color: #0077dd;
  text-decoration: underline;
}
.box > h3:hover:before {
  background-position: 0 -19px;
}
.box > h3:active:before {
  background-position: 0 -41px;
}
.box.active {
  cursor: auto !important;
}
.box.active h3 {
  color: #373737;
}
.box.active h3:before {
  background-position: 0 3px;
}
.box.active h3:hover {
  text-decoration: none;
}
.box.active h3:hover.active:before {
  background-position: 0 -107px;
}
.box .feature {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}
.box .feature > * {
  margin: 0 28px;
}
.box .feature input {
  margin-right: 10px;
}
.box .feature > p {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #737373;
}
.box .list {
  padding: 0;
  margin-bottom: 0;
}
.box .list li {
  list-style: none;
  border-bottom: 1px solid #d4d4d4;
  font-size: 12px;
  min-height: 40px;
  line-height: 40px;
}
.box .list li > * {
  display: inline-block;
  margin-right: 15px;
  color: #373737;
}
.box .list li:nth-last-child(1) {
  border-bottom: none;
  padding-bottom: 0;
}
.box .list li .option {
  min-width: 70px;
  font-weight: bold;
  color: #373737;
}
.box .list li .slider .knob {
  top: 31%;
}
.checkbox {
  padding-left: 0;
  min-height: 0;
  cursor: pointer;
  line-height: 18px;
}
.checkbox .check {
  background-image: url('../../images/checbox-sprite.png');
  background-repeat: no-repeat;
  background-position: 0 -18px;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.checkbox.checked .check {
  background-position: 0 -1px;
}
.checkbox p {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.radiobutton {
  cursor: pointer;
  margin-right: 10px;
}
.radiobutton .check {
  background-image: url('../../images/radio-button-sprite.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 16px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
}
.radiobutton.checked .check {
  background-position: 0 -13px;
}
.radiobutton p {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.slider {
  position: relative;
  min-width: 90px;
  vertical-align: middle;
  display:inline-block;
  margin-left: 7px;
  margin-top: -6.5px;
}
.slider .slider-middle,
.slider .slider-right,
.slider .slider-left {
  display: inline-block;
  height: 4px;
}
.slider .slider-right,
.slider .slider-left {
  width: 4px;
}
.slider .slider-right,
.slider .slider-left,
.slider .knob {
  background-repeat: no-repeat;
}
.slider .slider-middle {
  background-image: url('../../images/slider-bg-pixel.png');
  background-repeat: repeat-x;
  max-width: 88%;
  min-width: 80px;
}
.slider .slider-right {
  background-image: url('../../images/slider-bg-right.png');
}
.slider .slider-left {
  background-image: url('../../images/slider-bg-left.png');
}
.slider .knob {
  background-image: url('../../images/slider-knob.png');
  background-position: -6px 0;
  position: absolute;
  top: 3px;
  left: -2px;
  height: 24px;
  width: 19px;
}
.slider .knob:hover {
  cursor: pointer;
}
.slider .val,
.slider .min,
.slider .max {
  display: inline-block;
  text-align: center;
}
.slider .min,
.slider .max {
  font-size: 12px;
  margin: 0 5px;
}
.slider .val {
  position: absolute;
  top: 0;
  left: 100px;
  font-size: 10px;
  color: #373737;
}
.slider .slider-label,
.slider .bar {
  display: inline-block;
}
.picker {
  vertical-align: middle;
  position: relative;
  top: 8px;
}
.layouts {
  text-align: center;
  padding-bottom: 50px;
}
.layouts figure {
  margin: 0 10px;
  list-style: none;
  display: inline-block;
  height: 77px;
  width: 64px;
  background-image: url('../../images/layouts.png');
  background-position: top;
  background-repeat: no-repeat;
}
.layouts figure figcaption {
  font-size: 12px;
  position: relative;
  top: 90px;
  margin: 0;
  cursor: pointer;
  color: #737373;
}
.layouts figure.boxes {
  background-position: 0 0;
}
.layouts figure.full {
  background-position: 0 -87px;
}
.layouts figure.grid {
  background-position: 0 -174px;
}
